*{
    margin: 0;
    color: aliceblue;
    
}

*, *::before, *::after{
    box-sizing: border-box;
    color: aliceblue;
    }

body{
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


html{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    height:100%;
    background: #141824 ;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    width: 100%;
    border-bottom: #DEB992 1px solid ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
}

#header_logo{
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
    animation: do_a_logo 5s linear infinite;
    min-height: max-content;
    list-style-type: none;
    text-decoration: none;
    width: 50vw;
}

@keyframes do_a_logo{ 0%{color:#FFF9CA ;}  25%{color:#B2A4FF ;} 50%{color:#FFB4B4 ;} 75%{color:#D2001A ;} 100%{color:#FFF9CA ;} }

nav{
justify-content: space-between;
height: fit-content;
padding: 1rem;

}

#text{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    padding: 1.1rem;
    overflow: hidden;
    transition: 0.5s;
    width: 100%;

}

#burger div{
cursor: pointer;
width: 30px;
height: 5px;
margin: 5px;
background-color: #fdfdfd;
display: none;
padding-left: 3%;
}

#photo{
    padding: 2px;
    
}


footer{
width: 100%;
border-top: #DEB992 1px solid ;
position: absolute;
bottom: 1%;
display: flex;
padding-left: 3%;
padding-right: 3%;
padding-top: 1%;
justify-content: space-between;
align-items: center;

}

#main-contcts_a img{
    padding: 5px;
    min-width: 40px;
}


#photo:hover{
background: #5c5b5b28 ;
}



.active{
    background-color: #DEB992;
    font-weight: 800;
    color: #141824;

}


#content{
padding: 1%;
justify-content: center;
position: relative;
display: flex;
height: 37vw;
width: 30vw;
top: 2vw;
background-color: #151b29;
border: #DEB992 1px solid;
border-radius: 3px;
box-shadow: rgba(228, 92, 92, 0.25) 0px 54px 55px, rgba(202, 69, 255, 0.219) 0px -12px 30px, rgba(100, 82, 82, 0.219) 0px 4px 6px,
 rgba(0, 0, 0, 0.178) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.animation{
    display: flex;
}





@media screen and (max-width:2505px) {
    #content{
    top: 4vh;
    height: 75vh;
    width: 50vw;
    }

    #text{
        font-size: 20px;
    }

    h1{
        font-size: 40px;
    }

    #cp-right{
        font-size: 22px;
    }
}

@media screen and (max-width:1545px) {
    h1{
        font-size: 30px;
    }

    #content{
    top: 3vh;
    height: 73vh;
    width: 60vw;
    }

}


@media screen and (max-width:1350px) {
    h1{
        font-size: 30px;
    }

    #content{
    top: 3vh;
    height: 73vh;
    width: 60vw;
    }
    #header_logo{
        width: 50vw;
    }
}
@media screen and (max-width:1100px) {

    #header_logo{
        width: 40vw;
    }
}

@media screen and (max-width:1000px) {

    #header_logo{
        width: 36vw;
    }

}






@media screen and (max-width: 800px) {


    h1{
        font-size: 25px;
    }

    #header_logo{
        font-size: 3em;
    }



    footer{
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
    }

    #cp-right{
        font-size: 18px;
    }

    #main-contcts_a img{
        padding-bottom: 10px;
        min-width: 30px;
    }

    #burger div{
        display: block;
    }
    
    nav{
        position: absolute;
        right: 0px;
        height: 94vh;
        top: 6vh;
        background-color: #151b29f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        transform: translateX(100%);
        
    }
    #text{
        width: 100%;
        height: 24vh;
        font-size: 25px;
        display: inline;
        align-items: center;
        justify-content: center;
        display: flex;
    }


}


@media screen and (max-width:500px) {

    #text{
        font-size: 15px;
    }

    h1{
        font-size: 20px;
    }

    #header_logo{
        font-size: 1.7em;
    }

    #content{
    top: 13vh;
    height: 50vh;
    width: 80vw;
    }

    footer{
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
    }

    #cp-right{
        font-size: 13px;
    }

    #main-contcts_a img{
        padding-top: 10px;
        max-width: 13px;
    }


    #burger div{
        display: block;
    }
    
}