
*{
    margin: 0;
    
}

*, *::before, *::after{
    box-sizing: border-box;
    }

body{
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


html{
    font-family: 'Poppins', sans-serif;
    height:100%;
    background: #1A1A1D ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

header{
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    border-bottom: #DEB992 1px solid ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    height: 8vh;
    
}

#header_logo{
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
    animation: do_a_logo 5s linear infinite;
    min-height: max-content;
    list-style-type: none;
    text-decoration: none;
    width: 50vw;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #571529 0%,
    #44107a 29%,
    #ff1361 67%,
    #a6ff00 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 10s linear infinite;
      display: inline-block;
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }

@keyframes do_a_logo{ 0%{color:#FFF9CA ;}  25%{color:#B2A4FF ;} 50%{color:#FFB4B4 ;} 75%{color:#D2001A ;} 100%{color:#FFF9CA ;} }

nav{
justify-content: space-between;
height: fit-content;

}

nav a{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    padding-bottom: 1.5rem;
    padding-top: 2.1rem;
    overflow: hidden;
    transition: 0.5s;
    width: 100%;
    color: #E9C893;
}

#burger div{
cursor: pointer;
width: 30px;
height: 4px;
margin: 5px;
background-color: #fdfdfd;
display: none;
padding-left: 3%;
transition: all 0.3s ease;
}

#photo{
    padding: 2px;
    
}


footer{
width: 100%;
border-top: #DEB992 1px solid ;
position: absolute;
bottom: 1%;
display: flex;
padding-left: 3%;
padding-right: 3%;
padding-top: 1%;
justify-content: space-between;
align-items: center;

}




#photo:hover{
background: #5c5b5b28 ;
}



.active{
    background-color: #DEB992;
    font-weight: 800;
    color: #141824;

}


#content{
padding: 1%;
justify-content: center;
position: relative;
display: flex;
height: 37vw;
width: 30vw;
top: 2vw;
background-color: #1D2731;
border: #DEB992 1px solid;
border-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
color: #E9C893;
}

.animation{
    display: flex;
}


h2{
    justify-content: center;
    align-items: center;
    padding: 10%;
}

span{
    color: #7400d2;
}


.toggle .line_one{
transform: rotate(-45deg) translate(-9px , 4px);
}
.toggle .line_dwo{
opacity: 0;
}
.toggle .line_three{
    transform: rotate(45deg) translate(-9px , -4px);
}

.nav_active{
    transform: translateX(0%);
}

@keyframes navLink {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


#fa{
font-size: 32px; 
}

.fa-active{
    background-color: #37373d3a;
    border-radius: 5px ;
}

@keyframes Do_Fa1 {
    0%{color:#FFF9CA ;}  
    50%{color:#D2001A ;}
    100%{color:#FFF9CA ;} 
}
@keyframes Do_Fa2 {
    0%{color:#FFF9CA ;}  
    50%{color:#45b611 ;}
    100%{color:#FFF9CA ;} 
}
@keyframes Do_Fa3 {
    0%{color:#FFF9CA ;}  
    50%{color:#004ad2 ;}
    100%{color:#FFF9CA ;} 
}

#all:first-child {
    animation: Do_Fa1 3s linear infinite;
    }
#all:nth-child(2) {
    animation: Do_Fa2 5.5s linear infinite;
}
#all:last-child {
    animation: Do_Fa3 8s linear infinite;
}


.fa-bounce{
    --fa-bounce-start-scale-x: 1;
    --fa-bounce-start-scale-y: 1;
    --fa-bounce-jump-scale-x: 1;
    --fa-bounce-jump-scale-y: 1;
    --fa-bounce-land-scale-x: 1;
    --fa-bounce-land-scale-y: 1;
    --fa-bounce-rebound: 0;
}





@media screen and (max-width:2505px) {
    #content{
    top: 2vh;
    height: 75vh;
    width: 50vw;
    }

    #text{
        font-size: 20px;
    }

    h1{
        font-size: 40px;
    }

    #cp-right{
        font-size: 25px;
        color: #E9C893;
    }

    #fa{
        font-size: 37px;
        padding: 10px;
    }

    footer{
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        height: 8vh;
    }
}
@media screen and (max-width:1800px) {
nav a{
    padding-bottom: 1.3rem;
}
    
}



@media screen and (max-width:1545px) {
    h1{
        font-size: 30px;
    }

    #content{
    top: 3vh;
    height: 73vh;
    width: 60vw;
    }

}


@media screen and (max-width:1350px) {
    h1{
        font-size: 30px;
    }

    #content{
    top: 3vh;
    height: 73vh;
    width: 60vw;
    }
    #header_logo{
        width: 50vw;
    }
    header{
        height: 8vh;
    }

    nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
        padding-bottom: 1.3rem;
        padding-top: 2.1rem;
    }
}
@media screen and (max-width:1100px) {

    #header_logo{
        width: 40vw;
    }

    #text{
        font-size: 19px;
    }
}

@media screen and (max-width:1000px) {

    #header_logo{
        width: 36vw;
    }

    #content{
        top: 10vh;
        height: 63vh;
        width: 60vw;
        }




}






@media screen and (max-width: 800px) {

    #content{
        top: 10vh;
        height: 63vh;
        width: 60vw;
        }

    h1{
        font-size: 25px;
    }

    #header_logo{
        font-size: 3em;
    }


    #cp-right{
        font-size: 23px;
    }

    #fa{
        font-size: 3;
        padding: 10px;
    }

    #burger div{
        display: block;
    }
    
    
    nav{
        position: absolute;
        right: 0px;
        height: 94vh;
        top: 8vh;
        background-color: #151b29f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    #text{
        width: 100%;
        height: 24vh;
        font-size: 25px;
        display: inline;
        align-items: center;
        justify-content: center;
        display: flex;
    }


}
@media screen and (max-width: 700px) {
    #cp-right{
        font-size: 23px;
    }

    #fa{
        font-size: 33px;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    #cp-right{
        font-size: 20px;
    }

    #fa{
        font-size: 30px;
        padding: 7px;
    }
}


@media screen and (max-width:500px) {

    #text{
        font-size: 15px;
    }

    h1{
        font-size: 20px;
    }

    #header_logo{
        font-size: 1.7em;
    }

    #content{
    top: 13vh;
    height: 50vh;
    width: 80vw;
    }

    footer{
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
    }

    #cp-right{
        font-size: 18px;
    }

    #fa{
        font-size: 25px;
    }


    #burger div{
        display: block;
    }
    
}

@media screen and (max-width:430px) {
    #cp-right{
        font-size: 14px;
    }

    #fa{
        font-size: 25px;
    }

    #main-contcts{
        margin: 0;
    }
    
}