*{
    margin: 0;
}
*, *::before, *::after{
    box-sizing: border-box;
}
body{

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
html{
    font-family: 'Poppins', sans-serif;
    height:100%;
    background: #1A1A1D ;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    padding-left: 2%;
    padding-right: 2%;
    width: 100vw;
    border-bottom: #DEB992 1px solid ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    height: 8vh;
    position: fixed;
    top: 0;
}
#header_logo{
    justify-content: right;
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
    animation: do_a_logo 5s linear infinite;
    min-height: max-content;
    list-style-type: none;
    text-decoration: none;
    width: 50vw;
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #571529 0%, #44107a 29%, #ff1361 67%, #a6ff00 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
}
@keyframes textclip {
    to {
        background-position: 200% center;
   }
}
/* In Progress*/

.product-list {
    width: 50vw;
    position: relative;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2vh;
    grid-column-gap: 2vh;
    padding: 0;

}

@media screen and (max-width:500px) {
    .grid1, .grid2, .grid3, .grid4, .grid5{
        grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}



#opisa{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    color: #E9C893;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 1%;
}
.product-item {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 275px;
    min-width: 16vw;
    min-height: 140px;
    max-height: 140px;
    padding: 0.1rem;
    border-radius: 15px;
    background-color: #190a35;
    display: flex;
    padding: 2% 3% 2% 3%;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}
.ab{
    width: 40%;
    max-height: 12vh;
    background-color: none;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    
}
.product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
}
.product-item__content {
    margin: 0 5% 0 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #DEB992;
    width: 50%;
    
}
button{
    background: none;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    animation: do_a_logo 5s linear infinite;
    font-size: 1.2rem;
    font-weight: 700;
    
}

button:hover{
    background-color: #271052;
    border: none;
    border-radius: 5px;
}
h2 a{
    list-style-type: none;
    text-decoration: none;
    animation: do_a_logo 5s linear infinite;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
h3 a{
    list-style-type: none;
    text-decoration: none;
    color: #E9C893;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-item h2, .product-item h3 {
    margin: 0 0 0.5rem 0;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes text{
    100%{
       background-color: #8f62e2;
   }
}
@keyframes do_a_logo{
    0%{color:#FFF9CA ;}
    25%{color:#B2A4FF ;}
    50%{color:#FFB4B4 ;}
    75%{color:#D2001A ;}
    100%{color:#FFF9CA ;}
}
nav{
    justify-content: space-between;
    height: fit-content;
}
nav a{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    padding-bottom: 1.5rem;
    padding-top: 2.1rem;
    overflow: hidden;
    transition: 0.5s;
    width: 100%;
    color: #E9C893;
}
#burger div{
    cursor: pointer;
    width: 30px;
    height: 4px;
    margin: 5px;
    background-color: #fdfdfd;
    display: none;
    padding-left: 3%;
    transition: all 0.3s ease;
}
#photo{
    padding: 2px;
}
#photo:hover{
    background: #5c5b5b28 ;
}
.activel{
    background-color: #DEB992;
    font-weight: 800;
    color: #141824;
}
.toggle .line_one{
    transform: rotate(-45deg) translate(-9px , 4px);
}
.toggle .line_dwo{
    opacity: 0;
}
.toggle .line_three{
    transform: rotate(45deg) translate(-9px , -4px);
}
.nav_active{
    transform: translateX(0%);
}
@keyframes navLink {
    from{
        opacity: 0;
        transform: translateX(50px);
   }
    to{
        opacity: 1;
        transform: translateX(0px);
   }
}
@media screen and (min-height :600px) and (min-width:800px) {
    header{
        overflow: hidden;
   }
}
@media screen and (max-height :900px) and (max-width:800px) {
    header{
        overflow: visible;
   }
}
@media screen and (max-width:2505px) {
    #text{
        font-size: 20px;
   }
    nav{
        margin-left: 200px ;
   }
}
@media screen and (max-width:1800px) {
    nav a{
        padding-bottom: 1.3rem;
   }
}
@media screen and (max-width:1579px) {
    #header_logo{
        margin-right: 7vw;
   }
    nav{
        margin-left: 0 ;
   }
}
@media screen and (max-width:1350px) {
    #header_logo{
        width: 50vw;
   }
    header{
        height: 8vh;
   }
    nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
        padding-bottom: 1.3rem;
        padding-top: 2.1rem;
   }
}




@media screen and (max-width:1320px) {
    .product-item__content button {
        font-size: 20px;
   }
    .product-item__content{
        font-size: 15px;
   }
}



@media screen and (max-width:1150px) {
    #header_logo{
        width: 40vw;
        margin-right: 5vw;
   }
    #text{
        font-size: 19px;
   }
}
@media screen and (max-width:1000px) {
    #header_logo{
        width: 36vw;
   }
    .product-item__content {
        font-size: 15px;
   }
}
@media screen and (max-width: 820px) {
    #header_logo{
        font-size: 3em;
   }
    #burger div{
        display: block;
   }
    nav{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #151b29f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
   }
    #text{
        width: 100%;
        height: 24vh;
        font-size: 25px;
        display: inline;
        align-items: center;
        justify-content: center;
        display: flex;
   }
}

@media screen and (max-width:500px) {
    #text{
        font-size: 15px;
   }
    #header_logo{
        font-size: 1.7em;
   }
    button{
        padding: 0;
   }
   .product-item__content{
    width: 100%;
    margin: 0;
    margin-top: 1%;
   }
   h3 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    }
    .ab{
        max-height: 25vh;
    }
    .ab1{
        background-color: rgba(0, 0, 0, 0.897);
    }
    .ab2{
        background-color: rgba(255, 255, 255, 0.945);
    }
    .ab3{
        background-color: rgb(6, 139, 6);
    }
    .ab4{
        background-color: rgb(175, 172, 172);
    }
    .ab5{
        background-color: rgb(19, 18, 18);
    }
    .ab6{
        background-color: gray;
    }
    
}
